<mat-form-field appearance="outline">
    <mat-label>{{ label }}</mat-label>
    <input matInput [type]="type" [(ngModel)]="value" [required]="isRequired" [pattern]="pattern"
        [attr.maxlength]="maxLength" [placeholder]="placeholder" 
        appNumericValidator [isAppNumericValidator]="isAppNumericValidator" 
        appDecimalValidator [isDecimalNumericValidator]="isDecimalNumericValidator" 
        [ngClass]="{'ng-dirty': control?.dirty}"
        (ngModelChange)="onChange($event)" (blur)="onBlur()" />
    <mat-error *ngIf="errorMessage">
        {{ errorMessage }}
    </mat-error>
</mat-form-field>